version: "3.9"

services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      URL_SHORTENER_BASE_URL: http://localhost:8000
      URL_SHORTENER_DATABASE_URL: sqlite+aiosqlite:///./shortener.db
      URL_SHORTENER_REDIS_URL: redis://redis:6379/0
    depends_on:
      - redis
    volumes:
      - ./data:/app

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
